@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.2 0.1 280);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.98 0 0 / 0.05);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.2 0.1 280);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.4 0.15 280);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.6 0.12 200);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.98 0 0 / 0.1);
  --muted-foreground: oklch(0.8 0 0);
  --accent: oklch(0.6 0.12 200);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(45.392% 0.14108 22.264);
  --border: oklch(0.98 0 0 / 0.2);
  --input: oklch(0.98 0 0 / 0.1);
  --ring: oklch(0.6 0.12 200);
}

.dark {
  --background: oklch(0.15 0.1 280);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.98 0 0 / 0.03);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.15 0.1 280);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.5 0.15 280);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.72 0.06 205);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.98 0 0 / 0.08);
  --muted-foreground: oklch(0.7 0 0);
  --accent: oklch(0.7 0.12 200);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(45.392% 0.14108 22.264);
  --border: oklch(0.98 0 0 / 0.15);
  --input: oklch(0.98 0 0 / 0.1);
  --ring: oklch(0.7 0.12 200);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    color: white;
    background: linear-gradient(
      180deg,
      rgb(73, 38, 138) 0%,
      rgb(101, 196, 205) 100%
    );
    min-height: 100vh;
  }

  [data-slot="card"] {
    position: relative;
    background: rgba(255, 255, 255, 0.03) !important;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
  }

  [data-slot="card"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(255, 255, 255, 0.6) 20%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.6) 80%,
      transparent 100%
    );
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    pointer-events: none;
    z-index: 1;
  }

  [data-slot="card"]::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 5%;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(255, 255, 255, 0.6) 20%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.6) 80%,
      transparent 100%
    );
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    pointer-events: none;
    z-index: 1;
  }

  [data-slot="input"] {
    background: rgba(255, 255, 255, 0.4) !important;
    border-color: var(--border) !important;
    border-width: 2px !important;
    margin-top: 5px !important;
    color: var(--primary) !important;
  }

  [data-slot="input"]::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  [data-slot="input"][type="date"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  [data-slot="input"][type="date"]::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  [data-slot="input"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    /* color: rgba(255, 255, 255, 0.7) !important; */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    color: white !important;
  }
}
